@media (max-width: 765px) {
  .Dashboard-body{
    margin: 0 !important
  }
  
  .Row1,
  .Row2,
  .Row3 {
    margin: auto;
    max-width: 60%;
  }
  .Row2{
    flex-wrap: wrap !important;
  }
  #Download_button{
    font-size: 10px;
    padding: 6px;
  }
  .Row2 .Box-row2 {    
    padding: 2% ;
  }
  .Row2 .Box-row2,
  .Row3 .Recent-Transaction,
  .Row3 .Bar_chart {
    margin: 3% 0;
  }
  .Row3 {
    flex-wrap: wrap;
  }
  .Row2 .Box-row2,
  .Row3 .Recent-Transaction,
  .Row3 .Campaign,
  .Bar_chart {
    width: 80% !important;
    margin-left: 10% !important;
    padding: 22px !important;
  }
}
