.for-mobile{
    display: none !important;
}

@media (max-width: 765px) {
    .All-screens{
        display: none !important;
    }
    .for-mobile{
        display: block !important;
    }
    .BarChart{
    min-width: 100% ;
    height: 60vh !important;
    margin: 4% 0 !important;
    
    }}