@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');
html,body,#root,.app,.content{
height: 100%;
width: 100%;
font-family: 'Source Sans Pro',sans-serif;
}
.app{
  display: flex;
  position: relative;
}
/* for mobile screen */
@media (max-width: 765px) {

.side-Bar{
  display:none !important;
} 
/* DataGrid in all app */
.css-1c4jhqm-MuiDataGrid-root,.css-1o2zwxf{
  font-size: .95rem !important;
}
/* filter In DataGrid */
.css-1mtsuo7{
  width: 33%;
}
.css-1lfl7ts,
.css-1tx315l{
  width: 45% !important;
}
}
/*DataGrid Tool bar  */
.css-phyg8y,.css-1j9kmqg-MuiDataGrid-toolbarContainer{
color:#a1a4ab !important;
padding: 1% !important;
}
::-webkit-scrollbar{
  width: 1vw;
}
/* track */
::-webkit-scrollbar-track{
  background-color: #e0e0e0;
}
/* Handle */
::-webkit-scrollbar-thumb{
  background: #888;
}
/* Handle on hover  */
::-webkit-scrollbar-thumb:hover{
  background: #555;
}